/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

/*.active = class, a = element */
.active a{
    color:#f5b82e !important;
}



body {
    background-color: #212529;
    background-attachment: fixed;
    background-size: cover;
}

table {
    background-color: transparent;
    margin-bottom: 1rem;
    width: 100%;
}

table th,
table td {
    padding: 0.75rem;
    vertical-align: middle;
}

tbody tr:nth-of-type(odd) {
    background-color: rgb(179, 208, 255, 0.3)
}


span {
    word-break: break-all;
}

.borderRed {
    border-style: solid;
    border-color:red;
}

.borderBlue {
    border-style: solid;
    border-color:blue;
}

.borderDark {
    border-radius: 5px;
    border-style: solid;
    border-color:#212529;
}


.borderWhite {
    border-radius: 5px;
    border-style: solid;
    padding-top: 15px;
    padding-bottom: 15px;
    border-color:white;
}


textarea {
    resize: none;
}

#search_col, #submission_col, #profile_col, #settings_col, #submit_col {
    border-radius: 5px;
    background-image: url("/static/images/carbon_fiber.png");
    background-position: left top;
    background-repeat: repeat;
}

#submission_col_container, #profile_col_container, #settings_col_container, #search_col_container, 
#profile_col_container, #profile_comments_col_container {
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color:#737A80;
}

#ta_submit_desc {
    border-radius: 5px;
    width: 100%;
}

#submit_col_container {
    border-radius: 5px;
    background-color:#737A80;

    background-image: url("/static/images/r32_rear.jpg");
    background-position: center;
    background-repeat: repeat;
}

.sinkCol {
    padding: 5px;
}

.sinkDiv {
    height: 100%;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    background-color:#5B6065;
    border-style: solid;
    border-color: #5B5B65;
}


.submitInputDiv {
    height: 100%;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
}

.submitTitles {
    color: #f5b82e;
    text-shadow: 1px 1px 3px black,1px 1px 3px black,1px 1px 3px black,1px 1px 3px black; /*top right, top left, bot left, bot right*/
}

.blankDiv {
    margin: 5px;
}

.titleColor {
    color: #f5b82e;
}

.contentColor {
    color: white;
}

#search_col_container {
    border-radius: 5px;
    background-image: url("/static/images/r32_rear.jpg");
    background-position: center;
    background-repeat: repeat;
}


#settings_col_container {
    border-radius: 5px;
    background-image: url("/static/images/mclaren_rear.jpg");
    background-position: center;
    background-repeat: repeat;
}

#profile_info_col, #profile_comments_col {
    padding: 20px 22px 20px 22px;
}

#subtitle_div {
    width: 100%;  
    border-bottom: 1px solid #8f9d93; 
    text-align: center;
}

#subtitle_span {
    padding: 0 10px;
    color:white;
}

#submissionMessage {
    display:none;
}

#search_submit, #display_name_change_submit, #password_change_submit, #btn_login_submit, #submission_submit, #register_submit, #display_pic_change{
    width:100%;
    background-color: #f5b82e;
    color:black;
}

#reg_display_name, #reg_username, #reg_password, #reg_password_again,
#username, #password, 
#search_game, #search_platform, #search_display_name, #search_vehicle, #search_track, #search_game_mode, 
#txt_display_name_change, #old_password, #new_password, #confirm_new_password {
    text-align: center;
}

#login_msg, #register_msg, #submission_msg , #submissionListMessage, #user_settings_profile_pic_msg, #user_settings_display_name_msg, #user_settings_password_msg{
    background-color: #212529;
    border-radius: 5px;
    color:red;
}

#ta_submit {
    width:100%;
    text-align: left;
    word-wrap:break-word;
}

#txt_submit_track, #txt_submit_gamemode {
    vertical-align: top;
}

#img_game_cover {
    /*content: url("/static/images/game_cover_placeholder.png");*/
    border-radius: 5px;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

#img_YT_prev {
    content: url("/static/images/Youtube_logo.png");
    border-radius: 5px;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.img_center {
    margin: 0;
    position: relative;
    transform: translate(0%, 0%);
}


.textLeftAlign {
    text-align: left;
}

.textRightAlign {
    text-align: right;
}

.submissionButtons {
    padding:5px;
    width:100%;
    border-radius: 5px;
    background-color: #f5b82e;
    color:black;
}

.sortByBtnInactive {
    padding:5px;
    width:100%;
    border-radius: 5px;
    background-color: #5B6065;
    color:black;
}

.pageBtnsActive {
    margin:0,0,0,0;
    border-radius: 5px;
    background-color: #f5b82e;
    color:black;
}


.pageBtnsInactive {
    margin:0,0,0,0;
    border-radius: 5px;
    background-color: #5B6065;
    color:black;
}


.pointer {
    cursor: pointer;
}


.inputField {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


#img_profile_pic {
    height: 80px;
    width: 80px;
    object-fit: cover;
    border-radius: 50%;
}

  
/* Tooltip container */
/* *Have to use id (#) instead of class (.) for this to work */
#tooltip {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted black;*/ /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  #tooltip #tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -125px; /* Use half of the width (250/2 = 125), to center the tooltip */
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  #tooltip:hover #tooltiptext {
    visibility: visible;

  }
  
