{% extends "layout.html" %}

{% block main%}
    <p id="aaaa">adsfafs</p>
    <div id="tooltip">Hover over me
        <span id="tooltiptext">Tooltip text</span>
    </div>
    <button id="tooltip" type="button">Click Me!
        <span id="tooltiptext">Tooltip text</span>
    </button>
{% endblock %}


<!--
    <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip top">
        Tooltip on top
    </button>
    <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="left" title="Tooltip left">
        Tooltip on left
    </button>
    <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Tooltip bottom">
        Tooltip on bottom
    </button>
    -->