{% extends "layout.html" %}

{% block main %}
    <body style="background-image: url('/static/subi_hawk.jpg')">
        <!--profile/comments-->
        <input id="page_type" type="hidden" value="{{ page_type }}">
        <div id="profile_top" class="container">
            <div class="row">
                <div class="col-sm-1"></div>
                <div id="profile_col" class="col-sm-10">
                    
                    <div class="row">
                    
                        <div id="profile_info_col" class="col-sm">
                            <div id="profile_col_container" class="container">
                                <div class="row">
                                    <div class="col-sm sinkCol">
                                        <div class="sinkDiv">
                                            <span id="idProfilePic">
                                                profile pic
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm sinkCol">
                                        <div class="sinkDiv">
                                            <span class="titleColor">Display name: </span>
                                            <span id="idDisplayName" class="contentColor"></span>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div id="subtitle_div">
                                    <span class="titleColor">
                                        Stats <!--Padding is optional-->
                                    </span>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm sinkCol">
                                        <div class="sinkDiv">
                                            <span class="titleColor">
                                                Number of submissions:
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm sinkCol">
                                        <div class="sinkDiv">
                                            <span id="idNumOfSub" class="contentColor">
                                                #
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm sinkCol">
                                        <div class="sinkDiv">
                                            <span class="titleColor">
                                                Most submitted game:
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm sinkCol">
                                        <div class="sinkDiv">
                                            <span id="idMostSubGame" class="contentColor">
                                                #
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm sinkCol">
                                        <div class="sinkDiv">
                                            <span class="titleColor">
                                                Most submitted track:
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm sinkCol">
                                        <div class="sinkDiv">
                                            <span id="idMostSubTrack" class="contentColor">
                                                #
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm sinkCol">
                                        <div class="sinkDiv">
                                            <span class="titleColor">
                                                Most submitted vehicle:
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm sinkCol">
                                        <div class="sinkDiv">
                                            <span id="idMostSubVehicle" class="contentColor">
                                                #
                                            </span> 
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm sinkCol">
                                        <div class="sinkDiv">
                                            <span class="titleColor">
                                                Most submitted game mode:
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm sinkCol">
                                        <div class="sinkDiv">
                                            <span id="idMostSubGameMode" class="contentColor">
                                                #
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                
                        <!--
                        <div id="profile_comments_col" class="borderRed col-sm">
                            <div id="profile_comments_col_container" class="container">
                                <div id="subtitle_div">
                                    <span id="subtitle_span">
                                        Comments 
                                    </span>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="borderRed col-sm-3">Comments</div>  
                                    <div class="borderRed col-sm-7"><hr class="solid"></div>
                                    <div class="borderRed col-sm-2">Date desc</div>                                  
                                </div>                                
                                <div id="comment_rows">                                    
                                </div>
                            </div>
                        </div>
                    -->
                    </div>                       
                
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>
        <!--/profile/comments-->

        <br>

        <!--submissions-->
        <div id="submissions_section" class="container">
        </div>
        <!--/submissions-->
    </body>
{% endblock %}