{% extends "layout.html" %}

{% block title %}
    Submit
{% endblock %}

{% block main %}
    <body style="background-image: url('/static/images/f1_dark.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-sm-2"></div>
                <div id="submit_col" class="col-sm-8">
                    <div id="subtitle_div">
                        <span id="subtitle_span">
                          Submit <!--Padding is optional-->
                        </span>
                        <br>
                        <span id="submission_msg"></span>
                    </div>
                    <br>
                    <p style="color: red;text-align: left;">1. * means required<br>2. <i>Dropdown options in input fields are just suggestions, you may enter anything.</i></p>
                    <div id="submit_col_container" class="container">
                        <br>
                        <div class="row">
                            <div class="col-sm">
                                <div class="submitInputDiv">
                                    <input autocomplete="off" list="list_submitGame" class="form-control reqColour" id="txt_submit_game" name="txt_submit_game" placeholder="* Game" type="text">
                                    <datalist id="list_submitGame"></datalist>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="submitInputDiv">
                                    <input autocomplete="off" list="list_submitPlatform" class="form-control reqColour" id="txt_submit_platform" name="txt_submit_platform" placeholder="* Platform" type="text">
                                    <datalist id="list_submitPlatform"></datalist>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="submitInputDiv">
                                    <input autocomplete="off" list="list_submitVehicle" class="form-control reqColour" id="txt_submit_vehicle" name="txt_submit_vehicle" placeholder="* Vehicle" type="text">
                                    <datalist id="list_submitVehicle"></datalist>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="submitInputDiv">
                                    <input autocomplete="off" class="form-control" id="txt_YT_URL" name="txt_YT_URL" placeholder="YT Embedded URL" type="text">                                
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="submitInputDiv">
                                    <img id="img_game_cover" alt="Game cover" src="/static/images/game_cover_placeholder.png"> 
                                    <span id="image_credit" class="submitTitles" style="display:none"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm">
                                        <div class="submitInputDiv">
                                            <input autocomplete="off" list="list_submitTrack" class="form-control reqColour" id="txt_submit_track" name="txt_submit_track" placeholder="* Track" type="text">
                                            <datalist id="list_submitTrack"></datalist>
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <div class="submitInputDiv">
                                            <input autocomplete="off" list="list_submitGameMode" class="form-control reqColour" id="txt_submit_gamemode" name="txt_submit_gamemode" placeholder="* Game mode" type="text">
                                            <datalist id="list_submitGameMode"></datalist>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="submitInputDiv">
                                    <img id="img_YT_prev" class="img_center" alt="YT prev">
                                    <iframe id="iframe_YTvid" style="display:none" width="100%" height="100%" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <span class="submitTitles">Full time</span>
                                <div class="row">
                                    <div class="col-sm">
                                        <div class="submitInputDiv">
                                            <input autocomplete="off" class="form-control reqColour" id="in_submit_fulltime_HH" name="in_submit_fulltime_HH" placeholder="* HH" type="number" min="0">
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <div class="submitInputDiv">
                                            <input autocomplete="off" class="form-control reqColour" id="in_submit_fulltime_MM" name="in_submit_fulltime_MM" placeholder="* MM" type="number" min="0" max="59">
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <div class="submitInputDiv">
                                            <input autocomplete="off" class="form-control reqColour" id="in_submit_fulltime_SS" name="in_submit_fulltime_SS" placeholder="* SS" type="number" min="0" max="59">
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <div class="submitInputDiv">
                                            <input autocomplete="off" class="form-control reqColour" id="in_submit_fulltime_sss" name="in_submit_fulltime_sss" placeholder="* sss" type="number" min="0" max="999">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <span class="submitTitles">Best lap time</span>
                                <div class="row">
                                    <div class="col-sm">
                                        <div class="submitInputDiv">
                                            <input autocomplete="off" class="form-control" id="in_submit_bestlaptime_HH" name="in_submit_bestlaptime_HH" placeholder="HH" type="number" min="0">
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <div class="submitInputDiv">
                                            <input autocomplete="off" class="form-control" id="in_submit_bestlaptime_MM" name="in_submit_bestlaptime_MM" placeholder="MM" type="number" min="0" max="59">
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <div class="submitInputDiv">
                                            <input autocomplete="off" class="form-control" id="in_submit_bestlaptime_SS" name="in_submit_bestlaptime_SS" placeholder="SS" type="number" min="0" max="59">
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <div class="submitInputDiv">
                                            <input autocomplete="off" class="form-control" id="in_submit_bestlaptime_sss" name="in_submit_bestlaptime_sss" placeholder="sss" type="number" min="0" max="999">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <div class="submitInputDiv">
                                    <textarea id="ta_submit_desc" placeholder="Description"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm"></div>
                            <div class="col-sm">
                                <button id="submission_submit" class="btn btn-primary" type="submit" onclick="validate_record_submission()">Submit</button>
                            </div>
                            <div class="col-sm"></div>
                        </div>
                        
                        <br>
                    </div>
                    <br>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
    </body>
{% endblock %}
