{% extends "layout.html" %}

{% block main %}
    <body style="background-image: url('/static/images/McLaren.jpg')">
        <div class="container">            
            <div class="row">
                <div class="col-sm-4"></div>
                <div id="settings_col" class="col-sm-4">
                    <br>
                    <div id="settings_col_container" class="container">
                        <div id="subtitle_div">
                            <span class="submitTitles">
                                Profile settings <!--Padding is optional-->
                            </span>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm"></div>
                            <div class="col-sm">
                                <image id="img_profile_pic" alt="Profile pic" src="/static/userProfilePics/blackSquare.png"></image>
                            </div>
                            <div class="col-sm"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <form id="frmProfilePic" method="POST" enctype="multipart/form-data">
                                    <input type="file" accept="image/x-png, image/jpeg, image/gif" id="input_display_pic" name="input_display_pic" class="form-control" required></input>                                    
                                    <button type="submit" id="display_pic_change" class="btn btn-primary" onclick="return update_user_settings('profile_pic')">Update profile picture</button>
                                </form>
                            </div>
                        </div>
                        <span id="user_settings_profile_pic_msg"></span>
                        <br><br>
                        <div class="row">                            
                            <div class="col-sm">
                                <span class="submitTitles">
                                    Display name
                                </span>
                            </div>                            
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <input autocomplete="off" autofocus class="form-control" id="txt_display_name_change" placeholder="Display name" type="text">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <button id="display_name_change_submit" class="btn btn-primary" onclick="return update_user_settings('display_name')">Change</button>
                            </div>
                        </div>
                        <div class="row">
                            <span id="user_settings_display_name_msg"></span>
                        </div>
                        <br><br>
                        <div class="row">
                            <div class="borderWhite col-sm">
                                <form action="javascript:void(0);">
                                    <div id="subtitle_div">
                                        <span class="submitTitles">
                                            Password <!--Padding is optional-->
                                        </span>
                                    </div>
                                    <br>
                                    <div class="row">
                                        
                                        <div class="col-sm">
                                            <input autocomplete="off" class="form-control mx-auto w-auto" id="old_password" placeholder="Old Password" type="password">
                                        </div>
                                        
                                    </div>
                                    <br>
                                    <div class="row">
                                        
                                        <div class="col-sm">
                                            <input autocomplete="off" class="form-control mx-auto w-auto" id="new_password" placeholder="New Password" type="password">
                                        </div>
                                        
                                    </div>                                    
                                    <br>
                                    <div class="row">
                                        
                                        <div class="col-sm">
                                            <input autocomplete="off" class="form-control mx-auto w-auto" id="confirm_new_password" placeholder="Confirm new Password" type="password">
                                        </div>
                                        
                                    </div>
                                    <br>
                                    <div class="row">
                                        
                                        <div class="col-sm">
                                            <button id="password_change_submit" class="btn btn-primary" onclick="return update_user_settings('password')">Change password</button>
                                        </div>

                                    </div>
                                    <div class="row">
                                        
                                        <div class="col-sm">
                                            <span id="user_settings_password_msg"></span>
                                        </div>
                                    
                                    </div>
                                </form>
                            </div>                            
                        </div>
                    </div>
                    <br>
                </div>
                <div class="col-sm-4"></div>
            </div>
        </div>
    </body>
{% endblock %}