{% extends "layout.html" %}

{% block main %}
    <body style="background-image: url('/static/McLaren.jpg')">
        <div class="container">            
            <div class="row">
                <div class="borderRed col-sm-4">col-sm-4</div>
                <div id="settings_col" class="borderRed col-sm-4">
                    <br>
                    <div id="settings_col_container" class="borderRed container">
                        <div id="subtitle_div">
                            <span id="subtitle_span">
                                Profile settings <!--Padding is optional-->
                            </span>
                        </div>
                        <br>
                        <div class="row">
                            <div class="borderRed col-sm"></div>
                            <div class="borderRed col-sm">Profile pic</div>
                            <div class="borderRed col-sm"></div>
                        </div>
                        <div class="row">
                            <div class="borderRed col-sm">
                                <button id="display_pic_change" class="btn btn-primary" onclick="update_user_settings('profile_pic')">Update profile picture</button>
                            </div>
                            <span id="user_settings_profile_pic_msg"></span>
                        </div>
                        <br>
                        <div class="row">
                            <div class="borderRed col-sm">
                                <input autocomplete="off" autofocus class="form-control" id="txt_display_name_change" placeholder="Display name" type="text">
                            </div>
                            <div class="borderRed col-sm">
                                <button id="display_name_change_submit" class="btn btn-primary" onclick="update_user_settings('display_name')">Change</button>
                            </div>
                            <span id="user_settings_display_name_msg"></span>
                        </div>
                        <br><br>
                        <div class="row">
                            <div class="borderWhite col-sm">
                                <div id="subtitle_div">
                                    <span id="subtitle_span">
                                        Password <!--Padding is optional-->
                                    </span>
                                </div>
                                <br>
                                <div class="mb-3">
                                    <input autocomplete="off" class="form-control mx-auto w-auto" id="old_password" placeholder="Old Password" type="password">
                                </div>
                                <div class="mb-3">
                                    <input autocomplete="off" class="form-control mx-auto w-auto" id="new_password" placeholder="New Password" type="password">
                                </div>
                                <div class="mb-3">
                                    <input autocomplete="off" class="form-control mx-auto w-auto" id="confirm_new_password" placeholder="Confirm new Password" type="password">
                                </div>
                                <button id="password_change_submit" class="btn btn-primary" onclick="update_user_settings('password')">Change password</button>
                                <br>
                                <span id="user_settings_password_msg"></span>
                            </div>                            
                        </div>
                    </div>
                    <br>
                </div>
                <div class="borderRed col-sm-4">col-sm-4</div>
            </div>
        </div>
    </body>
{% endblock %}